/* 
    Document   : gppstyles
    Created on : Mar 12, 2011, 11:34:05 AM
           
*/
/* reset */
root { 
    display: block;
    }
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, font, img, ins, kbd, q, s, strong, center, dl, dt, dd, ol,
ul, li, fieldset
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;}
ol, ul {list-style: none;}

/* body styles */
html {min-height:100%;}
body {
	font:normal 14px/1.4em Verdana, Arial, Helvetica, sans-serif;
	min-height:100%;
	background-color:#FFF;
        color:#000;
        min-width:1100px;
        }
div#wrapper {
	width:960px; margin:5px auto;
        }
div#wrapper-admin {width:1024px; margin:5px auto;}
p {margin-bottom:5px;}
h1, h2, h3, h4 {font-weight:bold;}
h1 {font-size:28px; margin-bottom:10px;}
h2 {font-size:22px;}
h3 {font-size:18px;}
#upload h3 {padding:15px 0 5px;}
h4 {font-size:18px; padding:5px 0;}
/* navigation */

div#navigation {
    display:block;
    width:960px;
    height:40px;
    padding:5px;
   }

/* container styles */

div#content {
    background-color:#bebe31;
    border:5px #d2d26f solid;
    margin-top:5px;
    padding:10px;
}


/* admin image upload page styling */
#gallery, #upload {
			border: 1px solid #ccc; margin: 10px auto; width: 650px; padding: 10px;
		}
		#blank_gallery {
			font-family: Arial; font-size: 18px; font-weight: bold;
			text-align: center;
		}
		.thumb {
			float: left; width: 150px; padding: 10px; margin: 10px;
		}
		.thumb:hover {
			/*outline: 1px solid #999; */
		}
		#gallery:after {
			content: "."; visibility: hidden; display: block; clear: both; height: 0; font-size: 0;
		}

/* form styling */
#imageform form {float:left; clear:both; width:500px;}
#imageform label {display:block; margin: 3px 0; font-weight:bold;}
#imageform textarea, #imageform input {
    width:500px;
    padding:5px;
    }
#imageform textarea {display:block; height:50px;}
    #imageform .submitimage {
        clear:both;
        display:block;
        width:75px;
}
label {display:inline-block; width:120px; float:left; white-space:nowrap;}

.check label {display:inline-block; line-height:15px; width:1px; clear:both;}

/* searchform styling */
#searchform {
    position:relative;
    float:left;
    padding:10px 20px;
}


/* pagination styling --------- */
#pages a, #pages strong {
	 background: #e3e3e3;
	 padding: 4px 7px;
	 text-decoration: none;
	border: 1px solid #cac9c9;
	color: #292929;
	font-size: 13px;
	}

	#pages strong, #pages a:hover {
	 font-weight: normal;
	 background: #cac9c9;
	}
a#currentpage {color:#000000;}

/* generic table styling (temporary) ------- */
table {font-size:12px; line-height:14px;}
table th {text-align:left;}

table.dblist {margin:0 0 10px 0; border:1px #d2d26f solid; }
table.dblist th {background-color:#bebe31; border-right:1px #000 solid; padding:5px;}
table.dblist td {padding:5px; white-space:nowrap;}
table.dblist tr.alternate {background-color:#d2d26f;}

/* plant display styles */
.genus {
    font-style: italic;
}

.species {
    font-style: italic;
}

.subspecies {
    font-style: italic;
}

.variety {
    font-style: italic;
}

.cultivar {
    font-style: none;
}

.trade-name {
    font-variant: small-caps;
}

.breeders-rights {
    vertical-align: super;
    font-size: 10px;
}



/* end */
