/* 
    Document   : gppstyles
    Created on : Mar 12, 2011, 11:34:05 AM
           
*/
/* reset */
root { 
    display: block;
    }
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, font, img, ins, kbd, q, s, strong, center, dl, dt, dd, ol,
ul, li, fieldset, table, th, tr, td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;}
ol, ul {list-style: none;}

/* body styles */
html {min-height:100%;}
body {
	font:normal 13px/1.3em Arial, Helvetica, sans-serif;
	min-height:100%;
	background-color:#000;
        color:#000;
        min-width:1024px;
        }
div#topbar {
        display:block;
        height:20px;
        min-width:1024px;
        margin:0 auto;
        background:url(../assets/topbar.jpg) 0 0 repeat-x;
}
div#wrapper {
        width:1024px; margin:5px auto; position:relative;
        }
div#banner {
        display:block;
        width:1024px;
        height:70px;
        background: url(../assets/greatplantpicks.png) 270px 21px no-repeat;
}
/* logo for all pages except home */
div#logo {
    position:absolute;
    display:block;
    top:0;
    left:-5px;
    width:217px;
    height:300px;
    background: url(../assets/logo-main.png) 0 5px no-repeat;
    text-indent:-9999px;
    z-index:9999;
    }
div#logo-sub {
    position:absolute;
    display:block;
    top:0;
    left:-5px;
    width:212px;
    height:190px;
    background: url(../assets/logo-sub.png) 0 5px no-repeat;
    text-indent:-9999px;
    z-index:9999;
    }
div#logo-link {
    position:absolute;
    display:block;
    top:0;
    left:0;
    width:200px;
    height:120px;
    }
/* navigation */

div#navigation {
    display:block;
    float:right;
    width:800px;
    height:26px;
    padding:1px 5px 5px 160px;
    background-color:#63b446;
    margin-bottom:10px;
   }
#navigation a {
    color:#000;
    text-decoration:none;
    background: url(../assets/leaf-sprite.png) 0 -31px no-repeat;
    padding:3px 0 5px 24px;
    margin-right:40px;
    line-height:30px;
    vertical-align:bottom;
}
#navigation #currentpage {    
    background: url(../assets/leaf-sprite.png) 0 -1px no-repeat;
}
#navigation a:hover {
    color:#e65925;
    background: url(../assets/leaf-sprite.png) 0 -1px no-repeat;
}

#footer {
    float:left;
    position:relative;
    margin-top:5px;
    clear:both;
    display:block;
    width:1024px;
    background-color:#63b446;
    padding:3px 0;
}
#footer p {
    text-align:center;
    font-size:11px;
}
/* container styles */

div#content {
    position:relative;
    clear:both;
    background-color:#bebe31;
    border:5px #d2d26f solid;
    margin-top:5px;
    padding-top:10px;
    }
.main {
    float:right;
    width:780px;
    padding:10px;
}
.display {}
.admin, .gallery, .view, .advsearch {
    padding:10px;
    width:994px;
    }

.home-image {
    float:right;
    /*width:780px;*/
    margin-bottom:5px;
}

.home-text { /* temporary display block to fill space */
    float:left;
    display:block;
    width:684px;
    height:376px;
    background-color:#bebe31;
    border:5px #d2d26f solid;
    padding:10px 20px;
   }
.home-poster {
    float:right;
    width:210px;
    margin:0;
}

.clear {clear:both; line-height:1px;}

/* admin image upload page styling */
#gallery, #upload {
			margin: 10px auto; width: 650px; 
		}
                #blank_gallery {
			font-family: Arial; font-size: 18px; font-weight: bold;
			text-align: center;
		}
		.thumb {
			float: left; width: 150px; padding: 10px; margin: 10px;
		}
                .thumb img {
                    border:5px #d2d26f solid;
                }
		.thumb:hover {
			/*outline: 1px solid #999; */
		}
		#gallery:after {
			content: "."; visibility: hidden; display: block; clear: both; height: 0; font-size: 0;
		}

/* form styling -------------------------------------- */

/* login/user registration form styling */

 #register_form {
	background-color: #bebe32;
	border: 1px solid #378b36;
	margin: 20px auto 0;
	padding: 1em 1em 7em 1em;
        border-radius: 3px;
	-moz-border-radius: 3px;
        -webkit-border-radius: 3px;
}
.login {
    width: 300px;
}
.register {
    width: 500px;
}
#register_form input[type=text], #register_form input[type=password] {
	display: block;
        margin: 0 0 1em 0;
	width: 280px;
	border: 5px;
        border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	padding: 1em;
}

#register_form input[type=submit], #register_form form a {
	border: none;
        clear:both;
	margin: 1em 1em 1em 0;
	padding: 6px;
	text-decoration: none;
	font-size: 14px;
        border-radius: 4px;
	-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
	background: #348075;
	color: white;
	box-shadow: 0 1px 0 #378b36;
	-moz-box-shadow: 0 1px 0 #378b36;
	-webkit-box-shadow: 0 1px 0 #378b36;
}

#register_form input[type=submit]:hover, #register_form form a:hover {
	background: #378b36;
	cursor: pointer;
}

/* image gallery upload form */
#imageform form {float:left; clear:both; width:500px;}
#imageform label {display:block; margin: 3px 0; font-weight:bold;}
#imageform textarea, #imageform input {
    width:500px;
    padding:5px;
    }
#imageform textarea {display:block; height:50px;}
    #imageform .submitimage {
        clear:both;
        display:block;
        width:75px;
        height:30px;
       }
#imageform label {display:inline-block; width:120px; float:left; white-space:nowrap;}

#imageform .check label {display:inline-block; line-height:15px; width:1px; clear:both;}

p.category {clear:left; padding-left:5px; margin-top:0; font-style:italic;}

/* add and update record form styling */

form.data-entry {clear:both; width:850px;}
.data-entry .labelname {
    display:inline-block;
    width:225px;
    vertical-align:top;
    padding-top:2px;
    font-weight:bold;
}

.data-entry ul li {padding-bottom:5px;}
.data-entry input {
    display:inline-block; 
}
.data-entry checkbox {}
.data-entry p {clear:both; font-weight:bold; padding-top:10px;}
.data-entry textarea {width:600px; height:80px;}

p.searchlabel {font-weight:bold; padding-top:10px;}
p.radios {font-weight:normal; padding:0 0 5px 0;}

/* checkbox styling -- keep checkbox label from wrapping */
.formcheck {float:left;}
.formcheck label {margin-right:5px; white-space:nowrap;}

input[type="text"] {
    display:inline-block;
    width:300px;
}
input[type="submit"] {
    clear:both;
/*    float:left;    */
    margin-right:5px;
}
.find {   /* advanced search submit button */
    clear:both;
    margin-left:440px;
}
input[type="option"] {
    display:inline-block;
    width:300px;
}

/* searchform styling */
#searchform {
    padding:10px 20px;  
}
#searchform input[type="text"] {
    display:block;
    width:300px;
    height:20px;
    }
#searchform input[type="submit"] {
    clear:both;
    margin-left:5px;
}
/*search form position on public search and pre-programmed list page */

div.simplesearch {
    margin-left:250px;
    margin-top:20px;
}


.clear-search {padding-left:10px;}
/* pagination styling --------- */
#pages a, #pages strong {
        position:relative;
	background: #e3e3e3;
	padding: 4px 7px;
	text-decoration: none;
	border: 1px solid #cac9c9;
	color: #292929;
	font-size: 13px;
	}

	#pages strong, #pages a:hover {
	 font-weight: normal;
	 background: #cac9c9;
	}
a#currentpage {color:#000000;}

/* generic table styling (temporary) ------- */
table {position:relative; clear:both; font-size:12px; line-height:14px;}
table th {text-align:left;}

table.dblist, table.nursery {margin:10px 0;border:none;border-collapse:collapse; border-spacing:0;}
table.dblist th, table.nursery th {background-color:#bebe31; padding:5px;}
table.nursery td {padding:5px; white-space:nowrap; }
table.dblist th {padding-right:40px; padding-left:10px;}
table.dblist td {padding: 5px 40px 5px 10px;}
table.dblist tr.alternate, table.nursery tr.alternate {background-color:#d2d26f;}

table.nursery {}
table.nursery th {font-size:16px;}
table.nursery th:nth-child(even) {
    width:10%;
}
table.nursery th:last-child {
    width:40%;
}
table.nursery th:first-child, table.nursery td:first-child {
    width:40%;
    font-weight:bold;
}

table.display {margin:40px 0 10px;border:none;border-collapse:collapse; border-spacing:0; width:900px;}
table.display th {font-size:14px; padding-bottom:3px;}
table.display td {font-size:12px; padding:3px;}
table.display td.plantname {white-space:nowrap;}
table.display td.common-name {width:20%;}
table.display td a {text-decoration:none;}
table.display td a:hover {text-decoration:none; color:#e65925;}
table.display th:first-child, table.display td:first-child {
    width:40%;
    font-weight:bold;
}

/* advanced search form page layout */
div.rightcol {
    float:right;
    width:482px;
    margin:10px 0;
}
div.leftcol {
    float:left;
    width:482px;
    margin:10px 0;
}

/* plant fact sheet screen style */
#imageview {
    float:left;
    display:block;
    height:650px;
    width:530px;
}
img#main-img {clear:left; float:left;}
#imageview > ul {}
#imageview >  ul > li {
    display:inline-block;
    width:140px;
    margin:0 20px 10px 0;
    }
#imageview >  ul > li > p {
    clear:left;
    font-size:11px;
    font-style:italic;
    padding-left:2px;
    }

#imageview > img {
    border:5px #d2d26f solid;
}
.plantinfo {}
.plantinfo dt {font-weight:bold;}
.plantinfo dd {padding-bottom:8px;}

/* plant display styles */
.genus {
    font-style: italic;
}

.crossgenus {
    font-style:normal;
    vertical-align: 4px;
}

td .crossgenus {
    vertical-align:2px;
}

.species {
    font-style: italic;
}

.designate {
    font-style:italic;
}

.subspecies {
    font-style: normal;
}

.variety {
    font-style: italic;
}

.cultivar {
    font-style: normal;
}

.trade-name {
       font-family: Arial, Helvetica, sans-serif;
}
.trademark-name, .registered-name {
    /*font-variant: small-caps;*/
}

.breeders-rights {
    vertical-align: super;
    font-size: 10px;
}

/* public table sort function */

.headerSortUp:after { /* add up and down arrows to signify search directions */
     content:"▼";
}
.headerSortDown:after {
    content:"▲";
}
.tablesorter th {cursor:pointer;}
.tablesorter th:hover {text-decoration:none; color:#e65925;}

/* headers */
h1, h2, h3, h4 {font-weight:bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
h1 {font-size:28px; margin-bottom:10px;}
h2 {font-size:22px;}
h3 {font-size:18px;}
h4 {font-size:18px; padding:5px 0;}
h5 {font-size:16px;}

.display h1, .gallery h1, .display h4, .admin h2, .admin h4 {text-align:center; padding:5px 0;}
.admin h1 {margin-top:15px; text-align:center;}

.advsearch h2 {text-align:center; margin:10px 0;}
.advsearch h3, .advsearch h4 {text-align:left;}
.advsearch h5 {text-align:left; margin:20px 0 0;}

.view h3 {font-size:16px; margin:5px 0;}

.display h4 {display:block; background-color:#f8e100;}
.view h4 {text-align:center; margin-bottom:20px;}

#upload h3 {padding:15px 0 5px;}
#login_form h2 {padding:5px 0 10px 0;}


/* paragraph styles */
p {margin-bottom:5px;}
p.nav {clear:both; text-align:right;}
p.note {clear:both; float:left; font-style:italic;}
p.center {text-align:center;}

em {font-style:normal; font-weight:bold;}

/* tooltips for advanced search page */
.tooltip {
  border-bottom: 1px dotted #378b36;
  color: #000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}
.tooltip span {
  margin-left: -999em;
  position: absolute;
}
.tooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 1.5em;
  z-index: 99;
  margin-left: 0;
  width: 250px;
  border-radius: 5px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}
.tooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}
.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic { 
    padding: 0.8em 1em;
    background-color:#b1d355;
    border:1px #378b36 solid;
}
* html a:hover { background: transparent; }
/* end */
