/* 
    Document   : print.css
    
    Description:
        Full page fact sheet print style
*/

    body {  /* white background, black text */
        background: #fff none !important;
        color: #000;
        font-size:12px;
        line-height:16px;
        font-family:Arial, Helvetica, sans-serif;
    }

    #wrapper {
        position: relative;
        margin:0 auto;
        width:700px;
         }

 div#content {
    position:relative;
    clear:both;
    /*border:1px #000 solid;*/
    margin-top:5px;
    padding:10px;
    }

 div#printhead {
     display:block;
     position:relative;
     float:left;
     width:160px;
     height:110px;
     padding:0;}
 div#printhead > img {float:left;}
 div#logo {
     position:absolute;
     top:0; left:0;
}
 
 div#printhead > p {font-family: Arial, Helvetica, sans-serif; text-align:right; font-size:11px;}
 div#printhead > p.first {padding-top:60px;}

 div#imageview {clear:both; float:left;}
 div#imageview img {margin-right:20px; border: 1px #000 solid;}
 div.quickfacts {
     clear:right;
     float:left;
}
div.quickfacts h3 {text-decoration:underline; padding-bottom:5px;}
 div.pagebreak {display:block; page-break-before:avoid;}

 div.printview {
     float:left;
     width:100%;
}

 .plantinfo {
    padding:20px 10px 0 10px;
}
.plantdetails {
    clear:both;
    width:100%;
   }
   img {
       max-width:400px;
       max-height:400px;

}
 img.show {margin:0 20px 0 0;}

 h1, h2, h3, h4, h5, dt {font-weight:bold;}
 h1 {
    font-size:28px;
    margin-bottom:10px;
    text-align:center;
}
h2 {font-size:24px;
    text-align:center;
}
h2.common {text-transform:uppercase; margin:0 0 8px 0;}
h3 {font-size:18px; margin:5px 0;}
h4 {
    font-size:18px;
    padding:5px 0;
}
h5 {font-size:16px;}
h6 {font-weight:normal; font-size:12px; margin:1px 0 8px;}

    /* plant name display styles */
.genus {
    font-style: italic;
}

.species {
    font-style: italic;
}

.designate {
    font-style:italic;
}

.subspecies {
    font-style: italic;
}

.variety {
    font-style: normal;
}

.cultivar {
    font-style: normal;
}

.trade-name {
       font-family: Arial, Helvetica, sans-serif;
}
.trademark-name, .registered-name {
    /*font-variant: small-caps;*/
}

.breeders-rights {
    vertical-align: super;
    font-size: 10px;
}

#printview {
    float:right;
    font-size:11px;
}

em {font-style:normal; font-weight:bold;}
p {margin:0 0 4px 0;}
dt.lead {font-size:18px; padding-bottom:5px;}
dd {margin:0 0 4px 0;}

p.copy {font-size:8pt; margin:0 0 10px 0; padding:0; font-style:italic; line-height:11pt;}
p.logo {font-size:9pt; margin:0; padding:0; line-height:11pt;}

a:link {color:#0134c5; text-decoration:none;}
a:visited {color: #0134c5; text-decoration:none;}
a:hover, a:active {color:#e16f43; text-decoration:none;}

div.clear {clear:both;}
div.clear-right {clear:right; display:block; height:1px;}
/* end print stylesheet */